.card {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	transition: box-shadow 0.3s ease;
	overflow: hidden;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.card:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cardImgTop {
	transition: transform 0.3s ease;
}

.card:hover .cardImgTop {
	transform: scale(1.1);
}

.cardBody {
	overflow: hidden;
	transition: max-height 0.5s ease;
	max-height: 80px;
}

.card:hover .cardBody {
	max-height: 100%;
}

.cardTitle {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.cardText {
	margin-bottom: 0;
}
