/* Card.module.css */

.card {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s ease;
}

.card:hover {
	transform: translateY(-20px); /* Slide up on hover */
}

.cardImgContainer {
	overflow: hidden;
}

.cardImg {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
}

.card:hover .cardImg {
	transform: scale(1.1);
}

.cardBody {
	padding: 20px;
	background-color: rgba(
		255,
		255,
		255,
		0.8
	); /* Semi-transparent background for text */
	position: absolute;
	bottom: -8rem; /* Initially hidden */
	left: 0;
	width: 100%;
	transition: bottom 0.3s ease; /* Add transition for sliding effect */
}

.card:hover .cardBody {
	bottom: 0; /* Slide up on hover */
}

.cardTitle {
	margin-bottom: 10px; /* Add some spacing below the title */
}

.cardText {
	margin-bottom: 0; /* Remove default margin for better spacing */
}
